/* Estilo para el encabezado */
header {
    background-color: #0B5A91;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }

  /* Estilo para el formulario */
  form {
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
  }

  /* Estilo para las etiquetas de los campos de formulario */
  label {
    display: block;
    margin-bottom: 5px;
  }

  /* Estilo para los campos de entrada de formulario */
  input[type="text"],
  input[type="number"],
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  /* Estilo para el botón de envío */
  input[type="submit"] {
    background-color: #0B5A91;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* Estilo para el botón de envío cuando se coloca el cursor encima */
  input[type="submit"]:hover {
    background-color: #07446F;
  }
  /* Estilo para el spinner */
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #0B5A91;
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }